@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');
body {
  background-color: white;
    padding: 0px 0px 0px 0px;
    margin:0px;
    z-index: 0; 
}
a{
    text-decoration: none;
}
.Navbar {
  /*background-color:rgba(78, 94, 149, 0.31);*/
  background-color:rgba(78, 94, 149, 1);
  display: flex;
  margin: auto;
  position:fixed;top:0;right:0;left:0;z-index:5;
  padding: 20px 10px 20px 10px;
  font-family: gotham medium;
  transition: 1s;
}
.harsh-cont{
  max-width: 1050px;
  width: 100%;
  margin:auto;
  display: flex;
  justify-content: space-around;
  z-index: 6;
}
.nav-colored { background-color:rgba(78, 94, 149, 1);}
.Navbar__Link-brand{
  text-shadow: -2px 2px 0 #000,
                          2px 2px 0 #000,
                          2px -2px 0 #000,
                        -2px -2px 0 #000;
font-family: brush script mt;
font-size: 2em;
text-shadow: #202638;
color: rgb(66, 252, 196);
}

.Navbar__Link {
  padding-right: 8px;
  padding-top: 10px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}
.Navbar__Link a{
    color: white;
    text-decoration: none;
}
.Navbar__Link a:hover,a:active{
  color:rgb(66, 252, 196);
  cursor:pointer;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
  z-index: -2;
}

/* Caption text */
.text {
  color: #f0eeee;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  display:block;
  background-color:rgb(71, 71, 71);
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(59, 235, 182);
    color: #4E5E95;
    text-align: center;
  }
 .slide2 h2{
   text-align: center;
   color:#4e5e95dc;
   padding-top: 80px;
   padding-bottom: 20px;
   font-family: martel sans;
   font-size: 2.5em;
 }
 .slide2{
  background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/itCjTBE/videoblocks-white-abstract-smooth-flowing-waves-motion-background-seamless-looping-video-animation-ultra-hd-4k-3840x2160_bhojmw9a8_thumbnail-180_01.jpg");
   background-repeat: no-repeat;
   background-size: contain;
   padding-right: 30px;
padding-left: 50px;
   text-align: center;
   height:500px;
   font-family: martel sans;

 }
 #subhead{
  color: #4e5e95cb;
  font-size: 1.5em;
  padding-bottom:20px;
 }
 .slide2 p{
color:#5769a5e7 ;
font-size: large;

 }
 .slide3{
   background-image: url("https://images.assetsdelivery.com/compings_v2/axynia/axynia1708/axynia170800029.jpg");
   
 }
 .footer a{
  text-decoration: none;
  text-emphasis: none;
  color: #4E5E95;
}
