@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  padding: 0px 0px 0px 0px;
  margin:0px;
  z-index: 0; 
}
.Navbar {
background-color: #4E5E95;
display: flex;
padding: 20px 10px 20px 10px;
font-family: gotham medium;

}
.Navbar__Link-brand{
font-family: brush script mt;
font-size: 2em;
padding-bottom:30px;
text-shadow: #202638;
color: rgb(66, 252, 196);
}

.Navbar__Link {
padding-right: 8px;
}

.Navbar__Items {
display: flex;
}

.Navbar__Items--right {
margin-left:auto;
}

.right-text{
  padding-left: 30px;

}
.left-text{
  padding-left:10px;
  padding-right: 30px;
}

.Navbar__Link-toggle {
display: none;
}
.Navbar__Link a{
  color: white;
  text-decoration: none;
}
.Navbar__Link a:hover,a:active{
color:rgb(66, 252, 196);
cursor:pointer;
}

@media only screen and (max-width: 768px) {
.Navbar__Items,
.Navbar {
  flex-direction: column;
}
  
.Navbar__Items {
  display:none;
}
  
.Navbar__Items--right {
  margin-left:0;
}
  
.Navbar__ToggleShow {
  display: flex;
}
  
.Navbar__Link-toggle {
  align-self: flex-end;
  display: initial;
  position: absolute;
  cursor: pointer;
 } 
 .room{
  display:unset !important;
  display:block;
 }

 .left .right{
  width:100%;
}
.right-text .left-text{
  display:unset !important;
  display:block;

}
}

.room{
  margin-top:50px;
  margin-left: 20px;
  margin-right: 20px;
  display:flex;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
.left .right{
    width:50%;
    height: 50%;
}
.right-text{
float:right;
font-family: martel sans;
}
.left-text{
float:left;
font-family: martel sans;
padding-left: 30px;
}
.roomname{
color:black;
font-weight: bold;
font-family: martel sans;
padding-top: 40px;
padding-bottom: 20px ;
}
.roomdetails{
    color: rgba(68, 44, 44, 0.678);
    font-family: martel sans;
    font-size: 1.2em;
}
.logos{
  margin-top:40px;
  
}
.logos i {
  background-color: rgba(236, 234, 234, 0.61);
  border-radius: 50%;
  border: 1px solid rgb(107, 106, 106);
  padding: 10px;
  box-shadow: 0px 0px 2px rgba(136, 136, 136, 0.397);
  margin-left:3px;
  margin-right:3px;
  margin-bottom: 5px;
}
.logos i:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 2px rgba(109, 109, 109, 0.603);
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(59, 235, 182);
  color: #4E5E95;
  text-align: center;
  font-size: 1.4em;
}
.footer a{
  text-decoration: none;
  text-emphasis: none;
  color: #4E5E95;
}
* {
  box-sizing: border-box;
}
.search{
  float: left;
  width: 20%;
  padding: 15px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: default;
}
#myInput {
  padding: 15px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;

}
#myUL{
    display: none;
    position: absolute;
    margin-top: 50px;
    z-index: 4;
}
#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
.dropdown {
  position: relative;
  display: inline-block;
}




* {box-sizing:border-box;}
button {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #454545;position:relative;margin:1em;display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;
font-family:martel sans;font-weight:bold}
button:before, button:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
button:hover:before, button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#fff}
button:hover {color:#4E5E95;
  background-color:#fff;
  border-color:#fff;
  cursor: pointer;
}
.panel {max-width:960px;text-align:center;position:relative;margin:auto;}




.bw button {color:#fff;border-color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.1);
box-shadow:0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1) inset
}
.bw button:before, .bw button:after  {border-color:#fff}
.bw button:hover:before, .bw button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#353535;}
.bw button:hover {
  color:#fff;
  background-color:#353535;
  border-color:#353535;
  cursor: pointer;
}

.slide1{
  background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/itCjTBE/videoblocks-white-abstract-smooth-flowing-waves-motion-background-seamless-looping-video-animation-ultra-hd-4k-3840x2160_bhojmw9a8_thumbnail-180_01.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center; 
   background-blend-mode: multiply;
   width: 100%;
   height: 300px;
   margin-top: -20px;
   justify-content: center;
}
.pink button {color:rgb(36, 79, 136);border-color:rgb(59, 235, 182)}
.pink button:before, .pink button:after  {border-color:rgb(59, 235, 182)}
.pink button:hover:before, .pink button:hover:after {border-color:rgb(59, 235, 182);}
.pink button:hover {color:#4E5E95;background-color:rgb(59, 235, 182);border-color:rgb(59, 235, 182);}
.pink .panel {
  max-width:960px;
  text-align:center;
  position:relative;
  margin:auto;
}

button{
  margin: 40px;
}


.cntainer{
  justify-content: center;
  display: flex;
  width: auto;
  flex-direction: column;
  max-width: 1000px;
}
.input-group{
  margin: 1rem;
}
.input-label{
  display: block;
  margin-left: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.input,
.options{
outline: none;
border: none;
min-height: 3rem;
  margin: 10px 10px;
  color: #aaa;
  width: 98%;
  align-content: center;
}
#myBtn{

}
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myDiv {
  display: none;
  text-align: center;
}
.contain {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contain input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contain input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contain .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
  background-color: rgb(255, 255, 255);
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: middle;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
text-shadow: -.5px .5px 0 rgb(54, 54, 54),
.5px .5px 0 rgb(133, 133, 133),
.5px -.5px 0 rgb(133, 133, 133),
-.5px -.5px 0 rgb(133, 133, 133);
font-family: brush script mt;
font-size: 4em;
text-shadow: #202638;
color: rgb(66, 252, 196);
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td{
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}
.invoice-box .information table td {
padding: 5px;
vertical-align: top;
}
@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
  }
  
  .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
  }
.slide1 h2{
  text-align: center;
   color:#4e5e95dc;
   padding-top: 80px;
   padding-bottom: 10px;
   font-family: martel sans;
   font-size: 2em;
}